{% extends 'admin_pages/admin_main.html' %}
{% load static %}
{% block content %}
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Edit Catagory</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row gx-5">
                           
                            <div class="col-lg-9">
                                <section class="content-body p-xl-4">
                                    {% if item %}
                                    <form  enctype="multipart/form-data" method="POST" action="{%  url 'edit_category' item.id %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-8">
                                                
                                                <div class="row gx-3">
                                                    <div class="col-6 mb-3">
                                                        <label class="form-label">Name</label>
                                                        <input name="name" class="form-control" type="text" value="{{item.name}}"  placeholder=""  />
                                                    </div>
                                                    <!-- col .// -->
                                                    <div class="col-lg-6 mb-3">
                                                        <label class="form-label">Description</label>
                                                        <input name="description" class="form-control" type="text"  value="{{item.description}}"  placeholder=""  />
                                                    </div>
                                                    <!-- col .// -->
                                                    <div class="col-lg-6 mb-3">
                                                        <label class="form-label">Offers</label>
                                                        <input name="offer" class="form-control" type="tel" value="{{item.offer}}"   placeholder=""  />
                                                    </div>
                                                    {% if createerror %}
                                                    <p style="color: red;">{{ createerror  }}</p>
                                                    {% endif %}
                                                    <!-- col .// -->
                                                </div>
                                                <!-- row.// -->
                                            </div>
                                            <!-- col.// -->
                                            <aside class="col-lg-4">
                                                <figure class="text-lg-center">
                                                    <img class="img-lg mb-3 img-avatar" src="{{item.image.url}}" alt="User Photo" />
                                                    <figcaption>
                                                        <input type="file" name="image" class="form-control" id="product_image" accept="image/*"  />

                                                    </figcaption>
                                                </figure>
                                            </aside>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->
                                        
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </form>
                                    {% endif %}
                                    <!-- row.// -->
                                </section>
                                <!-- content-body .// -->
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
{% endblock %}