{% extends 'admin_pages/admin_main.html' %}
{% load static %}
{% block content %}
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <form action="{% url 'order_list' %}" method="GET">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" name="search" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                {% for order in orders %}
                                <tbody>
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td><b>{{ order.user.username }}</b></td>
                                        <td>{{ order.user.email }}</td>
                                        <td>${{ order.total_price }}</td>
                                        <td><span class="badge rounded-pill alert-warning">{{ order.status }}</span></td>
                                        <td>{{ order.created_at|date:"d M Y" }}</td>
                                        <td class="text-end">
                                            <a href="{% url 'admin_order_details' order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
            {% endblock %}