{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
          <li><a href="{% url 'mainapp:home' %}" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link"></span>></li>
          <li><span class="breadcrumb__link">Shop</span></li>
          <li><span class="breadcrumb__link"></span>></li>
          <li><span class="breadcrumb__link">Wishlist</span></li>
        </ul>
      </section>
      
      <!--=============== WISHLIST ===============-->
      <section class="wishlist section--lg container">
        <div class="table__container">
          {% if wishlist_item %}
            <table class="table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Size</th>
                  <th>Action</th>
                  <th>Remove</th>
                </tr>
              </thead>
              {% for item in wishlist_item %}
                <tbody>
                  <tr>
                    <td>
                      <img
                        src="{{ item.product.image1.url }}"
                        alt="{{ item.product.name }}"
                        class="table__img"
                      />
                    </td>
                    <td>
                      <h3 class="table__title">
                        {{ item.product.name }}
                      </h3>
                      <p class="table__description">
                        {{ item.product.description }}
                      </p>
                    </td>
                    <td>
                      <span class="table__price">${{ item.product.price }}</span>
                    </td>
                    <td><span class="table__stock">{{ item.size }}</span></td>
                    <td><a href="{% url 'add_to_cart' item.product.id item.size %}" class="btn btn--sm">Add to Cart</a></td>
                    <td><a href="{% url 'del_wish_item' item.id %}"><i class="fi fi-rs-trash table__trash"></i></a></td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
          {% else %}
            <div class="empty-wishlist">
              <div class="empty-wishlist__content">
                <h3 class="empty-wishlist__title">Your wishlist is empty</h3>
                <br>
                <p class="empty-wishlist__description">You haven't added any items to your wishlist yet.</p>
                <br>
                <a href="{% url 'mainapp:shop' %}" class="btn">Continue Shopping</a>
              </div>
            </div>
          {% endif %}
        </div>
      </section>
{% endblock body %}